<ion-header>
  <ion-toolbar>
    <ion-title>product-style-nine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="products">
    <div class="product">

      <div>
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1556228720-195a672e8a03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFjaWFsJTIwY2xlYW5zZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            alt="" class="productImg">
          <div class="hide">
            <div class="iconss">
              <div class="icon">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
            </div>
            <div class="add">Add To Bag</div>
          </div>
        </div>
        `
      </div>
      <div class="details">
        <p class="price"> <del>Rs.459</del> Rs.325</p>
        <p>Facial Cleanser</p>
        <p>4.4 ★★★★ </p>
      </div>
    </div>

    <div class="product">

      <div>
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1621770522850-b226f8e00158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="" class="productImg">
          <div class="hide">
            <div class="iconss">
              <div class="icon">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
            </div>
            <div class="add">Add To Bag</div>
          </div>
        </div>
      </div>
      <div class="details">
        <p class="price"> <del>Rs.459</del> Rs.325</p>
        <p>Facial Cleanser</p>
        <p>4.4 ★★★★★ </p>
      </div>
    </div>

    <div class="product">

      <div>
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1585232350744-974fc9804d65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="" class="productImg">
          <div class="hide">
            <div class="iconss">
              <div class="icon">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
            </div>
            <div class="add">Add To Bag</div>
          </div>
        </div>
      </div>
      <div class="details">
        <p class="price"> <del>Rs.459</del> Rs.325</p>
        <p>Facial Cleanser</p>
        <p>4.4 ★★★★★ </p>
      </div>
    </div>

    <div class="product">

      <div>
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1620916566398-39f1143ab7be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="" class="productImg">
          <div class="hide">
            <div class="iconss">
              <div class="icon">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
            </div>
            <div class="add">Add To Bag</div>
          </div>
        </div>
      </div>
      <div class="details">
        <p class="price"> <del>Rs.459</del> Rs.325</p>
        <p>Facial Cleanser</p>
        <p>4.4 ★★★★ </p>
      </div>
    </div>

    <div class="product">

      <div>
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1551446339-1e5c6f164ec2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="" class="productImg">
          <div class="hide">
            <div class="iconss">
              <div class="icon">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
            </div>
            <div class="add">Add To Bag</div>
          </div>
        </div>
      </div>
      <div class="details">
        <p class="price"> <del>Rs.459</del> Rs.325</p>
        <p>Facial Cleanser</p>
        <p>4.4 ★★★★ </p>
      </div>
    </div>

    <div class="product">

      <div>
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1556228578-0d85b1a4d571?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
            alt="" class="productImg">
          <div class="hide">
            <div class="iconss">
              <div class="icon">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
            </div>
            <div class="add">Add To Bag</div>
          </div>
        </div>
      </div>
      <div class="details">
        <p class="price"> <del>Rs.459</del> Rs.325</p>
        <p>Facial Cleanser</p>
        <p>3.4 ★★★ </p>
      </div>
    </div>

    <div class="product">

      <div>
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1584949514123-474cfa705dfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="" class="productImg">
          <div class="hide">
            <div class="iconss">
              <div class="icon">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
              <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
            </div>
            <div class="add">Add To Bag</div>
          </div>
        </div>
      </div>
      <div class="details">
        <p class="price"> <del>Rs.459</del> Rs.325</p>
        <p>Facial Cleanser</p>
        <p>4.4 ★★★★ </p>
      </div>
    </div>


  </div>
</ion-content>
